@tailwind base;
@tailwind components;
@tailwind utilities;

/* MapLibre GL CSS */
@import 'maplibre-gl/dist/maplibre-gl.css';

/* Global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body.map-fullscreen-active {
  overflow: hidden; /* Prevent scrolling */
  margin: 0;
  padding: 0;
}

/* Hide all other page elements when in fullscreen mode */
body.map-fullscreen-active > *:not(.map-container) {
  display: none !important;
}

/* Exception for the map container */
body.map-fullscreen-active .map-container.fullscreen {
  display: block !important;
}