apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ghanawaters-dev
resources:
  # shared base components
  - ../../base/admin
  - ../../base/api
  - ../../base/frontend
  - ../../base/database
  - ../../base/jobs
  - ../../base/nanomq
  # configmap with env-specific values
  - configs/api-config.yaml
images:
  - name: ghcr.io/ghananauticalnfo/ghanawaters-api
    newTag: 18e71b1-102
  - name: ghcr.io/ghananauticalnfo/ghanawaters-admin
    newTag: 18e71b1-102
  - name: ghcr.io/ghananauticalnfo/ghanawaters-frontend
    newTag: 18e71b1-102
patches:
  - path: patches/ingress-hosts.yaml
  - path: patches/replicas.yaml
  - path: patches/database-resources.yaml
  - path: patches/node-env.yaml
  - path: patches/init-container-env.yaml
  - path: patches/migration-command.yaml
  - path: patches/api-configmap.yaml
  - path: patches/api-websocket-support.yaml
    target:
      kind: Ingress
      name: ghanawaters-api-ingress
  - path: patches/nanomq-ingress-host.yaml
    target:
      kind: Ingress
      name: ghanawaters-nanomq-ingress
  - path: patches/nanomq-config.yaml
    target:
      kind: ConfigMap
      name: ghanawaters-nanomq-config
